<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>612907159857-3pfvqrp9k04cindqoe5s9nvjhrq0qun7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.612907159857-3pfvqrp9k04cindqoe5s9nvjhrq0qun7</string>
	<key>API_KEY</key>
	<string>AIzaSyCrMhHNhDoxtfbfuaqKG1p7AfghSDoQOWM</string>
	<key>GCM_SENDER_ID</key>
	<string>612907159857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.authtest</string>
	<key>PROJECT_ID</key>
	<string>authtestnotifs</string>
	<key>STORAGE_BUCKET</key>
	<string>authtestnotifs.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:612907159857:ios:a439d30977598fcc872010</string>
</dict>
</plist>